
/* Separate overrides for light and dark */

.hero-title{
    
}

:root {



}
[data-theme="dark"] {
    --color-primary: rgb(103, 170, 249);
}

/* .single-feature-img img{
    filter: grayscale(0%);
}

.single-post-image{
    filter: grayscale(0%);
} */